# requirements.txt

fastapi
uvicorn
pymongo
google-generativeai
python-dotenv
certifi
pydantic
requests
dnspython
email-validator
python-multipart
aiofiles
passlib[bcrypt]
python-jose[cryptography]
bcrypt==4.0.1